
.logo {
	float: left;
	width: 155px;
	margin-top: 30px;
	margin-right: 200px;
	margin-left: 20px;
}
.large-input-side {
    width: 70%;
    outline: none;
    font-size: 18px;
    border: 5px solid red;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -webkit-appearance: none;
}
.nav3 {
    padding-left: 100px;
    margin-bottom: 0;
    list-style: none;
    font-size: 25px;
    padding-top: 0px;
    text-align: right;
}

.circled-image-111 {
    background-image: url(../img/circled2.png);
}

p {
    font-family: "Forum";
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    margin-bottom: 13px;
    line-height: 1.625em;
}
.site-section.image {
    padding: 40px 0 60px 0;
    background: #1a1e23 url(../img/testimonialsBG.png) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    text-align: center;
    margin: 0px;
}
@media screen and (max-width: 450px) {

	.logo {
	float: left;
	width: 155px;
	margin-top: 27px;
	
	margin-left: 40px;}

	#header-wrap span{
	float: right;
    margin-top: 22px;
	margin-right: 40px;
	color: #e10000;
	height: 200px;
	}

		.nav3 {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    font-size: 15px;
    padding-top: 30px;
    width: 400px;

	
